<div>
    <h2 id="page-heading">
        <span jhiTranslate="cautiondouaneApp.typeVehicule.home.title">Type Vehicules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-vehicule" [routerLink]="['/type-vehicule/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cautiondouaneApp.typeVehicule.home.createLabel">
            Create new Type Vehicule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="typeVehicules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroType"><span jhiTranslate="cautiondouaneApp.typeVehicule.numeroType">Numero Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomType"><span jhiTranslate="cautiondouaneApp.typeVehicule.nomType">Nom Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typeVehicule of typeVehicules ;trackBy: trackId">
                <td><a [routerLink]="['/type-vehicule', typeVehicule.id, 'view' ]">{{typeVehicule.id}}</a></td>
                <td>{{typeVehicule.numeroType}}</td>
                <td>{{typeVehicule.nomType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/type-vehicule', typeVehicule.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/type-vehicule', typeVehicule.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type-vehicule/'+ typeVehicule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="typeVehicules && typeVehicules.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
