<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-piece-jointe-heading" jhiTranslate="cautiondouaneApp.pieceJointe.home.createOrEditLabel">Create or edit a Piece Jointe</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pieceJointe.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pieceJointe.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cautiondouaneApp.pieceJointe.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="pieceJointe.nom" required minlength="3" maxlength="255"/>
                    <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cautiondouaneApp.pieceJointe.fichier" for="field_fichier">Fichier</label>
                    <div>
                        <div *ngIf="pieceJointe.fichier" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(pieceJointe.fichierContentType, pieceJointe.fichier)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{pieceJointe.fichierContentType}}, {{byteSize(pieceJointe.fichier)}}</span>
                            <button type="button" (click)="pieceJointe.fichier=null;pieceJointe.fichierContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_fichier" (change)="setFileData($event, pieceJointe, 'fichier', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="fichier" id="field_fichier"
                        [(ngModel)]="pieceJointe.fichier" />
                    <input type="hidden" class="form-control" name="fichierContentType" id="field_fichierContentType"
                        [(ngModel)]="pieceJointe.fichierContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cautiondouaneApp.pieceJointe.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="pieceJointe.description" maxlength="255"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cautiondouaneApp.pieceJointe.demandeImportation" for="field_demandeImportation">Demande Importation</label>
                    <select class="form-control" id="field_demandeImportation" name="demandeImportation" [(ngModel)]="pieceJointe.demandeImportation" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="demandeImportationOption.id === pieceJointe.demandeImportation?.id ? pieceJointe.demandeImportation : demandeImportationOption" *ngFor="let demandeImportationOption of demandeimportations; trackBy: trackDemandeImportationById">{{demandeImportationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cautiondouaneApp.pieceJointe.rvc" for="field_rvc">Rvc</label>
                    <select class="form-control" id="field_rvc" name="rvc" [(ngModel)]="pieceJointe.rvc" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rVCOption.id === pieceJointe.rvc?.id ? pieceJointe.rvc : rVCOption" *ngFor="let rVCOption of rvcs; trackBy: trackRVCById">{{rVCOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cautiondouaneApp.pieceJointe.declaration" for="field_declaration">Declaration</label>
                    <select class="form-control" id="field_declaration" name="declaration" [(ngModel)]="pieceJointe.declaration" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="declarationOption.id === pieceJointe.declaration?.id ? pieceJointe.declaration : declarationOption" *ngFor="let declarationOption of declarations; trackBy: trackDeclarationById">{{declarationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
